*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
#left-sidebar, #right-sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color:whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.item-list .items a{
    color:black;

}
.item-list .items a:hover{
    color:White;
    text-decoration: none;
}

#left-sidebar {
    left: 0;
}

#right-sidebar {
    right: 0;
    margin-right: 20px;
    height:100%;
    overflow: hidden;
}
#right-sidebar .userprofile
{
    width:inherit;
    background-color: #1d3557;

}
#right-sidebar .userprofile a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 30px;
    padding:5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
   
}
#right-sidebar .profile a{
    text-decoration: none;
    color:#1d3557;
    font-size: 20px;
}

.nav-list{
    height:100%;
    width:300px;
    float:left;
    position:relative;
    
    
}
.nav-list #travel{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size:25px;
        background-color: #1d3557;
        color:whitesmoke;
        padding:5px;
        margin-bottom: 50px;
}
.nav-list .item-list .items{
    row-gap: 10px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.items i{
    margin-right: 10px;
}
.nav-list .item-list .items:hover{
    background-color: #1d3557;
    color:whitesmoke;
}
#main-content {
    margin-left: 300px; /* Width of the left sidebar */
    margin-right: 200px; /* Width of the right sidebar */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.hello p{
    text-align: left;
    vertical-align: top;
    margin-right: 10px;
}
#main-content{
    width: calc(100% -500px);
}
.hello{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hello p{
    margin-right: 5px;
}
.hello form{
    display: flex;
    align-items: center;
}
.hello input[type="text"]{
    height: 40px;
    width: 400px;
    padding: 5px;
    margin-right: 5px;
    margin-top: -10px;
    box-sizing: border-box;
}
button{
    height: 40px;
    width:30px;
    margin-right: 5px;
    box-sizing: border-box;
}

/* Dropdown Button */
.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    row-gap: 10px;
       
      
       display: flex;
       align-items: center;
       box-sizing: border-box;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color:#1d3557;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline;
  }
  .dropdown p{
    margin-bottom: -2px;
  }
  .dropdown p i{
    margin-right: 5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #1d3557;
color: whitesmoke;
text-decoration: none;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  