*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
#left-sidebar, #right-sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color:whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#left-sidebar {
    left: 0;
}

#right-sidebar {
    right: 0;
}
.nav-list{
    height:100%;
    width:300px;
    float:left;
    position:relative;
    
    
    }
    .nav-list #travel{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size:20px;
        background-color: #1d3557;
        color:whitesmoke;
        padding:5px;
        margin-bottom: 50px;
    }
    .nav-list .item-list ul li{
        margin: 5px;
    
        display: inline-block;
        grid-template-rows: auto;
        gap:15px;
        text-decoration: none;
    }
    .nav-list .item-list ul li:hover{
        background-color: #1d3557;
        color:whitesmoke;
    }
#main-content {
    margin-left: 300px; /* Width of the left sidebar */
    margin-right: 200px; /* Width of the right sidebar */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}


