*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: #1d3557;
    height:70px;
    width:100%;
    color: whitesmoke;
    position: relative;
}
#travel{
    font-family: 'Courier New', Courier, monospace;
    margin-left:10px;
    float:left;
    font-weight: bold;
    font-size:35px;
}
.section_nav{
    display:flex;
    height:50px;
    width:530px;
    margin-top: 10px;
}
.navbar ul{
    float:right;
    width: 100%;
    display: flex;
}
.navbar ul li{
    display: inline-block;
    align-items: center;
    margin: 0 15px;
}
.navbar ul li a{
    color: whitesmoke;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid transparent;
}
.navbar ul li a:hover{
   box-shadow: 0 0 5px rgba(255,255,255,0.5);
   text-decoration: none;
    color:whitesmoke;
    border: 2px solid white;
    transition: .5s;
}
#home:hover{
    color:rgb(191, 134, 13);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width: 768px){
    .checkbtn{
        display: block;
    }
    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 80vh;
        background: rgb(69,123,157);
        top:70px;
        right: -30%;
        z-index:100;
        text-align: center;
        transition: all 0.5s;
    }
    .menu li{
        margin-top: 50px;
        align-content: normal;
    }
    .menu li a{
        margin: 10px;
        padding: 10px;
        font-size: 30px;
    }
    .open-menu, .close-menu a.active a.hover{
        display: block;
    }
    #check:checked ~ ul{
        right:0;
    }

}
.container{
    position: relative;
    width: 100%;
    height: auto;
    color:#0082e6;

}
.text-container{
    position:absolute;
    top:35%;
    left: 18%;
    padding: 0;
    text-align:center;
    z-index:2; /*place the text container above the slide*/
    color:whitesmoke;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    align-content:space-around;
}
 
/* Optional: Style the container for the entire slider */
.swiper-container {
    max-width: 100%;/* Adjust the width as needed */
    margin: auto;
    overflow: hidden;   /*hide the overflow horizzontal slider from bottom*/
}

/* Style each individual slide */
.swiper-slide img {
    margin-top:2px;
    width: 100%; /* Ensure images take the full width of the slide */
    height:50% ; /* Maintain aspect ratio */
}

/* Optional: Style the pagination bullets */
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Optional: Style the navigation buttons */
.swiper-button-next,
.swiper-button-prev {
    font-size: 24px;
    color: #fff;
}

/* Optional: Style the navigation button positions */
.swiper-button-next {
    right: 10px;
}
.swiper-button-prev {
    left: 10px;
}

footer{
    background-color:#1d3557;
    width: 100%;
    height:200px;
    color: whitesmoke;
    position: relative;
}
.footer_section{
    display: flex;
    position:absolute;
    height:200px;
    width: 40%;   
    padding-top: 80px;
}
.social_media li{
    font-size: 2em;
    display: inline-block;
    align-items: center;
    margin:0 85px;
}
.social_media li a{
    color: whitesmoke;
}
.text_footer{
    margin-top: 80px;
    margin-right:85px ;
    text-align: right;
    float: right;
}