*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}

