.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d3557;
}

/* Login container */
.container {
    border:2px solid whitesmoke;
    width: 300px;
    /* background-color: #292072; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Form styles */
.form p {
    text-align: center;
    margin-bottom: 20px;
    color:whitesmoke;
}


.form input[type="password"],
.form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
.form button a{
    text-decoration: none;
    color:#fff;

}
